[Unit]
Description=k3s expose apiserver to default namespace
After=k3s.service
#Requires=.service

[Service]
Type=simple
#StandardOutput=journal
#StandardError=journal
SyslogIdentifier=k3s-socat

ExecStart=socat tcp-listen:6443,fork,reuseaddr exec:'ip netns exec k3s socat STDIO "tcp-connect:127.0.0.1:6443"',nofork
Restart=always

[Install]
WantedBy=multi-user.target
